html(lang="en")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lawyer Hamada Al-Ghoul
        link(rel="stylesheet", href="../css/homepage.css")//- mY Index Style Page
        link(rel="stylesheet", href="../vendor/normalize.css")//- Normalize File
        link(rel="stylesheet", href="../css/line-awesome.min.css")//- line-awesome"laibrary"
        link(rel="stylesheet", href="../css/animate.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;600&display=swap" rel="stylesheet")

    body(id="dark" dir="rtl")
    div(class="header")
     div(class="container")
      div(class="grid-header")
       div(class="logo")
        h2 المحامي حمادة أدهم الغول
        p مكتب العدالة للمحاماة والاستشارات القانونية
        div(class="button" id="clik") 
          span 
          span 
          span 
       ul(class="nav" id="nav")
        li
          a(href="#about-me" class="wow bounceInRight") نبذة عنا
        li
          a(href="#service" class="wow bounceInUp") خدماتنا
        li
          a(href="#address" class="wow fadeInDown") عنوان مكتبنا
        li
          a(href="#contact-me" class="wow fadeOutDown")  تواصل معنا
    div(classs="slider")
     div(class="container")
      div(class="grid-slider")
       div(class="main-slider")
        img(src="../imgs/img1.jpg")
       div(class="about-me")
        i(class="las la-home la-3x i")
        h3(class="wow fadeInDownBig" id="about-me") نبذة عنا
        p المحامي/ حمادة أدهم الغول ,خريج كلية الحقوق من جامعة الأزهر لسنة 2015 ,محامي نظامي وشرعي مزاول للمهنة منذ سنة 2016,محامي ومستشار قانوني لعدة شركات ومؤسسات خدماتية تابعة للقطاع الخاص منها مؤسسة ضامن للتأمين ,ومؤسسة حُلم لتيسير الزواج ,حاصل على العديد من الدورات في مجال حقوق الإنسان من العديد من المراكز الحقوقية
    div(class="service")
     div(class="container")
      div(class="title")
       i(class="lab la-servicestack la-3x")
       h3(class="wow bounceInUp" id="service") خدماتنا
      div(class="grid-service")
       div(class="info")
        div 
         img(src="../imgs/ser1.jpg")
        div 
         h4  نظامي
         p أهلا بكم في الموقع الالكتروني لمكتب العدالة للمحاماة والإستشارات القانونية . يسرنا إجابة كل طلباتكم والمرافعات وإبداء الرأي القانوني في أياً من القضايا النظامية من قبلنا
       div(class="info")
        div 
         img(src="../imgs/ser3.jpg")
        div 
         h4  شرعي
         p أهلا بكم في الموقع الالكتروني لمكتب العدالة للمحاماة والإستشارات القانونية . يسرنا إجابة كل طلباتكم والمرافعات وإبداء الرأي القانوني في أياً من القضايا الشرعية من قبلنا
       div(class="info")
        div 
         img(src="../imgs/service1.jpg")
        div 
         h4  عسكري
         p أهلا بكم في الموقع الالكتروني لمكتب العدالة للمحاماة والإستشارات القانونية . يسرنا إجابة كل طلباتكم والمرافعات وإبداء الرأي القانوني في أياً من القضايا العسكرية من قبلنا
       div(class="info")
        div 
         img(src="../imgs/ser4.jpg")
        div 
         h4 إستشارات
         p أهلا بكم في الموقع الالكتروني لمكتب العدالة للمحاماة والإستشارات القانونية . يسرنا إجابة كل طلباتكم والمرافعات وإبداء الرأي القانوني في أياً من القضايا من قبلنا
    div(class="address" id="address")
     div(class="container")
      div(class="grid-title")
       div(class="title-address")
        
       div(class="title-call")
        
      div(class="grid-address")
       div(class="ul-info")
        h3(class="wow flipInY") عنوان مكتبنا
        ul 
         li فلسطين _غزة
         li الشيخ رضوان_الشارع الأول
         li مكتب العدالة
         li جوال :0597193760
       form(class="contact-me" id="contact-me") 
        h3(class="wow rotateInUpRight") تواصل معنا
        input(type="userName" placeholder ="أدخل إسمك")
        input(type="email" placeholder ="أدخل بريدك الإلكتروني")
        textarea(name="", cols="30", rows="10" placeholder="رسالتك")
        input(type="submit" class="main-button" value="إرسال")
    div(class="footer")
     div(class="container")
      h4(class="wow fadeOut") يمكنكم مراسلتنا عبر مواقع التواصل الإجتماعي
      div(class="socail")
       a(class="lab la-facebook la-2x lite" href="https://www.facebook.com/")
       a(class="lab la-facebook-messenger la-2x lite" href="https://www.facebook.com/messages")
       a(class="las la-phone-volume la-2x lite" href="https://web.whatsapp.com/")
      div(class="copyright")
       div(class="right wow bounceInUp") All Right Reserved ©  2021
       div(class="dev wow bounceInUp") Designed  By Eng-Mohamed Adham
    script(src="../js/wow.min.js")    
    script(src="../js/main.js")
    script(src="../js/tracks.js") 
     

